.header p{
    text-align: right;
}

body {
  background-color: #a3d0b5;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-family: monospace;
  max-width: 500px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
    height: 42px;
}

a {
    color: #00aa00;
}

code{
 
    background: none;
    white-space: pre;
    padding: 0;
    background-color: black;
    color: white;
    border-radius: 4px;
}

footer {
    font-size: small;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 10px;
}