/*#ned.vc {
    position: absolute;
    left: 0;
}*/

nav {
    text-align: center;
    outline: 1px solid #a3d0b5;
    padding: 5px;
    margin-top: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 20px;
}

body {
  background-color: black;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-family: monospace;
  max-width: 500px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #a3d0b5;
}

img {
    height: 32px;
}

a {
    color: #a3d0b5;
}

code{
 
    background: none;
    white-space: pre;
    padding: 0;
    outline: 1px solid white;
    color: white;
    border-radius: 2px;
}

footer {
    font-size: small;
    text-align: center;
    width: 100%;
    margin-top: auto;
    padding: 10px;
}