:root {
    --bg:	black;
	--fg:	#a3d0b5;
	--hl:	#00aa00;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-size: 1em;
    width: 85%;
    max-width: 52em;
    margin: 1em auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    font-family: monospace;
  }

p {
    text-align: justify;
}

h1 {
    font-size: 2.5em;
    margin: 0.6em 0 0.2em 0;
}

a {
    color: var(--fg);
}

a:hover {
    color: var(--hl);
}

nav {
    text-align: center;
    /*outline: 1px solid #a3d0b5;*/
    padding: 5px;
    /*margin-top: 5px;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 20px;
}

code{
    color: var(--hl);
    outline: 1px solid var(--hl);
    
    border-radius: 2px;
    overflow: hidden;
}

footer {
    font-size: 0.8em;
    width: 100%;
    margin-top: auto;
    padding: 10px;
    text-align: center;
    white-space: pre-line;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
	body {
		width: 90%;
		font-size: 1.1em;
	}
}